
<div *ngIf="($question | async)">

    <h1>{{ ($question | async)?.topic }}</h1>

    <br>
    <po-button
      p-label="Pular"
      (p-click)="loadQuestion()">
    </po-button>

    <div class="po-row po-mb-4">
        <po-divider class="po-md-12" p-label="Pergunta"></po-divider>
        <pre class="question"> {{ ($question | async)?.question }}</pre>
    </div>

    <div class="po-row po-mb-4">
        <po-divider class="po-md-12" p-label="Opções"></po-divider>
        <div class="po-row po-mb-4" *ngFor="let answer of $answers | async">
            <pre class="question">{{ answer.id }} - {{answer.text}}</pre>
        </div>
    </div>
    <div class="po-row po-mb-4">
        <po-divider class="po-md-12" p-label="Resposta"></po-divider>
        <po-radio-group
          name="selectedAnswer"
          p-label="Respostas"
          p-columns="1"
          [(ngModel)]="selectedAnswer"
          [p-options]="answersOptions"
        >
        </po-radio-group>
    </div>

    <po-button
      p-label="Salvar"
      (p-click)="save()">
    </po-button>

</div>

<div>

  <div *ngIf="!($question | async) && !($results | async)">
    <p> Todas as questões foram respondidas</p>
  </div>
  <br>

    <po-button
      p-label="Resultado"
      (p-click)="results()">
    </po-button>

</div>

<div *ngIf="($results | async)">

    <h1>Resultado</h1>

    <po-info
      p-label="Nota: "
      p-orientation="horizontal"
      [p-value]="totalPoints"
    ></po-info>

    <po-divider></po-divider>

    <po-table
      p-container="shadow"
      [p-columns]="resultColumns"
      [p-items]="$results | async"
      p-sort="true"
    ></po-table>

</div>

<po-divider></po-divider>

<po-info
    p-label="A Responder: "
    p-orientation="horizontal"
    [p-value]="countQuestions()"
></po-info>

<po-info
    p-label="Respondidas: "
    p-orientation="horizontal"
    [p-value]="countAnswers()"
></po-info>

<po-button
  p-label="Reiniciar"
  (p-click)="clear()">
</po-button>

<div *ngIf="loading">

    <po-loading-overlay
      [p-screen-lock]="loading"
      p-text="Salvando...">
    </po-loading-overlay>

</div>